<h1>Help others with these challenges: </h1>

<% @enrollments.each do |e| %>
			<% if e.status == "Complete" %>
				<strong><%= e.task.name %></strong>
				<%= link_to 'See Task', "/tasks/#{e.task.id}" %>
				<br/>
			<% end %>
	<% end %> 