<h1>Team Page For <%= @mentorship.tutor.name %> AND <%= @mentorship.user.name %></h1>

<%= @mentorship.status %>
<br/>
<%= @mentorship.user_id %>

<h3>VIDEO FEATURE NEEDED HERE TO CONNECT TUTOR AND USER, SEE PETTER</h3>