


	<!-- Create all Subjects -->
	<!-- Create 2 categories in the rails console- - "Math" has id = 1, "Science" has id = 2 -->
	<% Subject.delete_all %>
	<% Subject.create(:name => "Math") %>
	<% Subject.create(:name => "Science") %>
	<% Subject.create(:name => "Language") %>
	<% Subject.create(:name => "Technology") %>

<div class = "row"> 
	<% @subjects.each do |subject| %>
	<div class="col-md-6">
		<%= link_to subject.name, '/courses/' %>
	</div>
	<% end %>
</div> 
 


