<h1>SUBJECTS</h1>

<!-- Create all Subjects -->
<!-- Create 2 categories in the rails console- - "Math" has id = 1, "Science" has id = 2 -->
<% Subject.delete_all %>
<% Subject.create(:name => "Math") %>
<% Subject.create(:name => "Science") %>
<% Subject.create(:name => "Language") %>
<% Subject.create(:name => "Technology") %>

<ul>
	<% @subjects.each do |subject| %>
	<li>
		<% link_to 'Course', courses_path %>
		<a href="/courses/?course.subject_id==subject.id"><%= subject.name %></a>
	</li>
	<% end %>
</ul>

