<h1>LEARN</h1>

<!-- List subject names in bold; related categories follow accordingly -->
<% @subjects.each do |subject|%>
	<strong><%= subject.name %></strong>
	<br/>
	<% courses = Course.all %>
	<% courses.each do |course| %>
		<% if course.subject_id == subject.id %>
			<%= link_to course.name, "/courses/#{course.id}" %>
			<br/>
		<% end %>	
	<% end %>	
	<br/>
<% end %>	
