<h1>HAYYYYYYYY</h1>

<% Course.delete_all %>
<!-- Create Math Courses -->
<% Course.create(:name => "Geometry", :subject_id => 1) %>
<% Course.create(:name => "Algebra", :subject_id => 1) %>
<!-- Create Science Courses -->
<% Course.create(:name => "Biology", :subject_id => 2) %>
<% Course.create(:name => "Chemistry", :subject_id => 2) %>

<ul>
	<% @courses.each do |course| %>
	<li>
		<%= course.name %>
	</li>
	<% end %>
</ul>