.cloud_world {
	height: 100%;
	background: url(kitty.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: -1;
}

.main_password {
	position: absolute;
	top: 29%;
	left: 7%;
	padding: 25px;
	text-align: center;
	h2 {
		font-family: 'lobster', sans-serif;
		font-size: 35px;
		text-align: center;
		color: #DCB24F;
	}
	.form_text {
		font-size: 20px;
		font-family: 'Indie Flower', sans-serif;
		color: #DCB24F;
	}
}

.email_field {
	font-size: 15px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #7B756F;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-style: dotted;
}

.submit_button {
	background-color: #DCB24F;
	opacity: 0.6;
	border: none;
	font-family: 'roboto', sans-serif;
	font-size: 15px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 40px;
}
