.contain_cloud {
	height: 100%;
	background: url(Toucan.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: -1;
}

.main_new {
	position: absolute;
	top: 20%;
	left: 20%;
	padding: 25px;
	text-align: center;
	h2 {
		font-family: 'lobster', sans-serif;
		font-size: 35px;
		text-align: center;
		color: #FFBD02;
	}
	.form_text {
		font-size: 20px;
		font-family: 'Indie Flower', sans-serif;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		color: #FFBD02;
	}
}
