body {
	/*background-color: lightgreen;
	background-image: url('Cat.jpg');
	background-size: cover;
	background-repeat: no-repeat;*/
}
	/*.row {
		width: ;
	}
*/
/*.row div {
	background-color: #A7C686;
	padding: 20px;
	opacity: 0.5;
	margin: 80px;
	width: 200px; 
	text-align: center;
}
*/


div a {
	text-decoration: none;
 	font-size: 25px;
	font-family: 'Indie Flower', serif;
	margin: auto;	
	padding: 15px;
	color: black;
}
