
h1 {
	text-align: center;
	font-family: 'Comfortaa', sans-serif;
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 8px;	
	color: #0B486B;
}
.surround-upper-content{
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	color: #0B486B;
	padding: 6px;
	margin: 20px;
	font-size: 16px;
	line-height: 140%;
}

.take_test_view {
	background-color: #EEEEEE;
	display: none;
	margin: 20px;
	padding: 40px;
	font-family: 'roboto', sans-serif;
	font-size: 16px;
	border-radius: 7px;
	border: solid 2px #A3FF75;
}
.test-button {
	text-align: center;
	background-color: #EEEEEE;	
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	padding: 7px;
	margin-top: 20px;
	color: #0B486B;
	font-size: 16px;
	line-height: 150%;
	border-radius: 5px;
	border: solid 1px #A3FF75;
	&:hover {
		background-color: #A3FF75;
		cursor:pointer;
		transition: 0.5s;
	}
}
.wrapper-tutor-button {
	text-align: center;
	margin: 30px;
}
.tutor-button {
	text-align: center;
	background-color: #A3FF75;	
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	padding: 10px;
	margin-bottom: 20px;
	color: #0B486B;
	line-height: 150%;
	border-radius: 5px;
	border: solid 1px #A3FF75;
	&:hover {
		background-color: #EEE;
		cursor:pointer;
		transition: 0.5s;
	}
}
.read_about_it {
	text-align: right;
}
.inside-header {
	font-size: 20px;
	padding-left: 10px;
	color: #0B486B;
}
.text_box_for_enroll {
	border: solid 2px  #A3FF75;
	border-radius: 5px;	
	padding: 0;
	margin: 8px;
}
.text_body {
	border-top: solid 2px #A3FF75;
	padding: 40px;
	background-color: #EEE;
	color: #0B486B;
}
.col-md-12 {
	width: 25%;
	margin-top: 55px;
}
.centered_links {
/*	background-color: black;*/
	text-align: center;
	color: #0B486B;
}
#buttons {
	text-align: center;
}
#ugly-submit {
	background-color: #A3FF75;	
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
	padding: 7px;
	color: #0B486B;
	border: solid 2px  #A3FF75;
}
.test_results_page {
	font-family: 'Oxygen', sans-serif;
	color: #0B486B;
}