
.I_hate_cameron {
	border: solid 2px  #A3FF75;
	border-radius: 5px;	
	margin: auto;
	width: 40%;
	margin-bottom: 20px;	
}
.text_box_for_teach {
	text-align: center;
	font-size: 25px;
	font-family: 'Oxygen', sans-serif;
}	

.task_name_for_teach {	
	background-color: #EEE;
	color: #2C6362;
}
.link_for_teach_page {
	padding: 5px;
	color: #0B486B;
}
.task_help_for_teach {
	background-color: #A3FF75;
	font-family: 'Oxygen', sans-serif;
	color: #0B486B;
	
}
.connect_for_teach_page {
	padding: 5px;
	color: #0B486B;
}