
.col-md-4 {
	position: relative;
	top: 340px;
	color: #004443;
	font-size: 50px;
	text-align: center;
	font-family: 'Indie Flower', sans-serif;
	vertical-align: center;
	margin-bottom: 40px;
	.Links {
		color: #004443;
	}
}
body {
	height: 1000px;
	background-color: #8CD46D;
}
.col-md-3 {
	color: #002E34;
	text-align: center;
	vertical-align: middle;
	font-family: 'Shadows Into Light', sans-serif;
	font-size: 28px;
	padding: 15px;
	font-weight: bold;

}
.welcome_message {
	position: absolute;
	top: 200px;
	font-family: 'lobster', sans-serif;
	color: white;
	font-size: 45px;
	text-align: center;
}
#container {
	height: 390px;
	background: url('Leaf.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: -1;
}

.badge {
	background: #958178 no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: absolute;
	top: 700px;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: -1;
	h2 {
		font-family: 'lobster', sans-serif;
		font-size: 35px;
		color: black;
	}
}
