
.col-md-4 {
	position: relative;
	top: 340px;
	color: #004443;
	font-size: 50px;
	text-align: center;
	font-family: 'Indie Flower', sans-serif;
	vertical-align: center;
	margin-bottom: 40px;
	.Links {
		color: #004443;
	}
}
.col-md-3 {
	text-align: center;
	vertical-align: middle;
	font-family: 'Shadows Into Light', sans-serif;
	font-size: 25px;
	padding: 8px;
	margin-bottom: 8px;
	font-weight: bold;
	color: white;
}
.welcome_message {
	position: absolute;
	top: 200px;
	font-family: 'lobster', sans-serif;
	color: white;
	font-size: 45px;
	text-align: center;
}
#container {
	height: 390px;
	background: url('Leaf.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: -1;
}


.badge {
	background: #3B8686;
	position: absolute;
	top: 650px;
	left: 0;
	right: 0;
	h2 {
		font-family: 'lobster', sans-serif;
		font-size: 35px;
		color: white;
	}
}

.top_link {
	font-family: 'lobster', sans-serif;
	font-size: 30px;
	color: white;	
}
.progress {
	background: black no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: absolute;
	top: 1270px;
	left: 0;
	right: 0;
	height: 100%;
}